{% extends 'rental_exchange/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<section class="hero-wrap hero-wrap-2 js-fullheight"
         style="background-image: url({% static 'rental_exchange/images/bg_2.jpg' %});"
         data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
            <div class="col-md-9 ftco-animate pb-5">
                <p class="breadcrumbs"><span class="mr-2"><a href="index-2.html">Home <i
                        class="ion-ios-arrow-forward"></i></a></span> <span>Car details <i
                        class="ion-ios-arrow-forward"></i></span></p>
                <h1 class="mb-3 bread">Car Details</h1>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section ftco-car-details">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div>
                    <img src="{{ car.image.url }}" width="100%" height="auto" alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-12">
                        <h4 class="text-primary font-weight-bold text-uppercase">{{ car.name }}</h4>
                        <span class="subheading">{{ car.brand }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table-sm table-borderless">
                                <tbody>
                                <tr>
                                    <td class="font-weight-bold">Model</td>
                                    <td>:</td>
                                    <td>{{ car.model_no }} ({{ car.model_year }})</td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bold">Mileage</td>
                                    <td>:</td>
                                    <td>{{ car.mileage }}</td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bold">Transmission</td>
                                    <td>:</td>
                                    <td>{{ car.transmission }}</td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bold">Seats</td>
                                    <td>:</td>
                                    <td>{{ car.seats }}</td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bold">Luggage</td>
                                    <td>:</td>
                                    <td>{{ car.luggage }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-6 col-sm-12">
                        <h4 class="text-primary font-weight-bold">{{ car.rental_price }}</h4>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <span class="subheading">per / {{ car.price_variable }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form method="post" action="{% url 'car-detail' car.id %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.car.as_hidden }}
                    {{ form.rental_cost.as_hidden }}
                    {{ form.customer.as_hidden }}
                    <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
                        {% for error in form.non_field_errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="{{ form.start_date.id_for_label }}">{{ form.start_date.label }}</label>
                                {% render_field form.start_date class="form-control" placeholder=form.start_date.label %}
                                <div class="{% if form.start_date.errors %} invalid{% endif %}">
                                    {% for error in form.start_date.errors %}
                                    <p class="help-block">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="{{ form.rent_for.id_for_label }}">{{ form.rent_for.label }}</label>
                                {% render_field form.rent_for class="form-control" placeholder=form.rent_for.label %}
                                <div class="{% if form.rent_for.errors %} invalid{% endif %}">
                                    {% for error in form.rent_for.errors %}
                                    <p class="help-block">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 d-flex align-self-end">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-outline-black mr-1 form-control text-uppercase">Book now</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--        <div class="row">-->
        <!--            <div class="col-md d-flex align-self-stretch ftco-animate">-->
        <!--                <div class="media block-6 services">-->
        <!--                    <div class="media-body py-md-4">-->
        <!--                        <div class="d-flex mb-3 align-items-center">-->
        <!--                            <div class="icon"><i class="fas fa-tachometer-o" aria-hidden="true"></i></div>-->
        <!--                            <div class="text">-->
        <!--                                <h3 class="heading mb-0 pl-3">-->
        <!--                                    Mileage-->
        <!--                                    <span>{{ car.mileage }}</span>-->
        <!--                                </h3>-->
        <!--                            </div>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--            <div class="col-md d-flex align-self-stretch ftco-animate">-->
        <!--                <div class="media block-6 services">-->
        <!--                    <div class="media-body py-md-4">-->
        <!--                        <div class="d-flex mb-3 align-items-center">-->
        <!--                            <div class="icon"><i class="fa fa-car-machine" aria-hidden="true"></i></div>-->
        <!--                            <div class="text">-->
        <!--                                <h3 class="heading mb-0 pl-3">-->
        <!--                                    Transmission-->
        <!--                                    <span>{{ car.transmission }}</span>-->
        <!--                                </h3>-->
        <!--                            </div>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--            <div class="col-md d-flex align-self-stretch ftco-animate">-->
        <!--                <div class="media block-6 services">-->
        <!--                    <div class="media-body py-md-4">-->
        <!--                        <div class="d-flex mb-3 align-items-center">-->
        <!--                            <div class="icon"><i class="fa fa-car-seat" aria-hidden="true"></i></div>-->
        <!--                            <div class="text">-->
        <!--                                <h3 class="heading mb-0 pl-3">-->
        <!--                                    Seats-->
        <!--                                    <span>{{ car.seats }}</span>-->
        <!--                                </h3>-->
        <!--                            </div>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--            <div class="col-md d-flex align-self-stretch ftco-animate">-->
        <!--                <div class="media block-6 services">-->
        <!--                    <div class="media-body py-md-4">-->
        <!--                        <div class="d-flex mb-3 align-items-center">-->
        <!--                            <div class="icon"><i class="fa fa-briefcase" aria-hidden="true"></i></div>-->
        <!--                            <div class="text">-->
        <!--                                <h3 class="heading mb-0 pl-3">-->
        <!--                                    Luggage-->
        <!--                                    <span>{{ car.luggage }} Bags</span>-->
        <!--                                </h3>-->
        <!--                            </div>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->

        <!--        </div>-->
        <div class="row">
            <div class="col-md-12 pills">
                <div class="bd-example bd-example-tabs">
                    <div class="d-flex justify-content-center">
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-description-tab" data-toggle="pill"
                                   href="#pills-description" role="tab" aria-controls="pills-description"
                                   aria-expanded="true">Specification</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-manufacturer-tab" data-toggle="pill"
                                   href="#pills-manufacturer" role="tab" aria-controls="pills-manufacturer"
                                   aria-expanded="true">Description</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-review-tab" data-toggle="pill" href="#pills-review"
                                   role="tab" aria-controls="pills-review" aria-expanded="true">Review</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-description" role="tabpanel"
                             aria-labelledby="pills-description-tab">
                            <div class="row">
                                <div class="col-md-6">
                                    <h3>Features</h3>
                                    <ul class="features">
                                        {% for feature in car.features.all %}
                                        <li class=""><i class="fa fa-check-square" aria-hidden="true"></i>
                                            {{ feature.title }}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <h3>Fuels</h3>
                                    <ul class="features">
                                        {% for fuel in car.fuels.all %}
                                        <li class=""><i class="fa fa-check-square" aria-hidden="true"></i>
                                            {{ fuel.title }}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-manufacturer" role="tabpanel"
                             aria-labelledby="pills-manufacturer-tab">
                            {{ car.description }}
                        </div>
                        <div class="tab-pane fade" id="pills-review" role="tabpanel" aria-labelledby="pills-review-tab">
                            <div class="row">
                                <div class="col-md-7">
                                    <h3 class="head">23 Reviews</h3>
                                    <div class="review d-flex">
                                        <div class="user-img" style="background-image: url(images/person_1.jpg)"></div>
                                        <div class="desc">
                                            <h4>
                                                <span class="text-left">Jacob Webb</span>
                                                <span class="text-right">14 March 2018</span>
                                            </h4>
                                            <p class="star">
<span>
<i class="ion-ios-star"></i>
<i class="ion-ios-star"></i>
<i class="ion-ios-star"></i>
<i class="ion-ios-star"></i>
<i class="ion-ios-star"></i>
</span>
                                                <span class="text-right"><a href="#" class="reply"><i
                                                        class="icon-reply"></i></a></span>
                                            </p>
                                            <p>When she reached the first hills of the Italic Mountains, she had a last
                                                view back on the skyline of her hometown Bookmarksgrov</p>
                                        </div>
                                    </div>
                                    <div class="review d-flex">
                                        <div class="user-img" style="background-image: url(images/person_2.jpg)"></div>
                                        <div class="desc">
                                            <h4>
                                                <span class="text-left">Jacob Webb</span>
                                                <span class="text-right">14 March 2018</span>
                                            </h4>
                                            <p class="star">
<span>
<i class="ion-ios-star"></i>
<i class="ion-ios-star"></i>
<i class="ion-ios-star"></i>
<i class="ion-ios-star"></i>
<i class="ion-ios-star"></i>
</span>
                                                <span class="text-right"><a href="#" class="reply"><i
                                                        class="icon-reply"></i></a></span>
                                            </p>
                                            <p>When she reached the first hills of the Italic Mountains, she had a last
                                                view back on the skyline of her hometown Bookmarksgrov</p>
                                        </div>
                                    </div>
                                    <div class="review d-flex">
                                        <div class="user-img" style="background-image: url(images/person_3.jpg)"></div>
                                        <div class="desc">
                                            <h4>
                                                <span class="text-left">Jacob Webb</span>
                                                <span class="text-right">14 March 2018</span>
                                            </h4>
                                            <p class="star">
<span>
<i class="ion-ios-star"></i>
<i class="ion-ios-star"></i>
<i class="ion-ios-star"></i>
<i class="ion-ios-star"></i>
<i class="ion-ios-star"></i>
</span>
                                                <span class="text-right"><a href="#" class="reply"><i
                                                        class="icon-reply"></i></a></span>
                                            </p>
                                            <p>When she reached the first hills of the Italic Mountains, she had a last
                                                view back on the skyline of her hometown Bookmarksgrov</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="rating-wrap">
                                        <h3 class="head">Give a Review</h3>
                                        <div class="wrap">
                                            <p class="star">
<span>
<i class="ion-ios-star"></i>
<i class="ion-ios-star"></i>
<i class="ion-ios-star"></i>
<i class="ion-ios-star"></i>
<i class="ion-ios-star"></i>
(98%)
</span>
                                                <span>20 Reviews</span>
                                            </p>
                                            <p class="star">
<span>
<i class="ion-ios-star"></i>
<i class="ion-ios-star"></i>
<i class="ion-ios-star"></i>
<i class="ion-ios-star"></i>
<i class="ion-ios-star"></i>
(85%)
</span>
                                                <span>10 Reviews</span>
                                            </p>
                                            <p class="star">
<span>
<i class="ion-ios-star"></i>
<i class="ion-ios-star"></i>
<i class="ion-ios-star"></i>
<i class="ion-ios-star"></i>
<i class="ion-ios-star"></i>
(70%)
</span>
                                                <span>5 Reviews</span>
                                            </p>
                                            <p class="star">
<span>
<i class="ion-ios-star"></i>
<i class="ion-ios-star"></i>
<i class="ion-ios-star"></i>
<i class="ion-ios-star"></i>
<i class="ion-ios-star"></i>
(10%)
</span>
                                                <span>0 Reviews</span>
                                            </p>
                                            <p class="star">
<span>
<i class="ion-ios-star"></i>
<i class="ion-ios-star"></i>
<i class="ion-ios-star"></i>
<i class="ion-ios-star"></i>
<i class="ion-ios-star"></i>
(0%)
</span>
                                                <span>0 Reviews</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section ftco-no-pt">
    <div class="container-fluid px-4">
        <div class="row justify-content-center">
            <div class="col-md-12 heading-section text-center ftco-animate mb-5">
                <span class="subheading">Choose Car</span>
                <h2 class="mb-2">Related Cars</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="car-wrap ftco-animate">
                    <div class="img d-flex align-items-end" style="background-image: url(images/car-1.jpg);">
                        <div class="price-wrap d-flex">
                            <span class="rate">$25</span>
                            <p class="from-day">
                                <span>From</span>
                                <span>/Day</span>
                            </p>
                        </div>
                    </div>
                    <div class="text p-4 text-center">
                        <h2 class="mb-0"><a href="#">Mercedes Grand Sedan</a></h2>
                        <span>Audi</span>
                        <p class="d-flex mb-0 d-block"><a href="#" class="btn btn-black btn-outline-black mr-1">Book
                            now</a> <a href="#" class="btn btn-black btn-outline-black ml-1">Details</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="car-wrap ftco-animate">
                    <div class="img d-flex align-items-end" style="background-image: url(images/car-2.jpg);">
                        <div class="price-wrap d-flex">
                            <span class="rate">$25</span>
                            <p class="from-day">
                                <span>From</span>
                                <span>/Day</span>
                            </p>
                        </div>
                    </div>
                    <div class="text p-4 text-center">
                        <h2 class="mb-0"><a href="#">Mercedes Grand Sedan</a></h2>
                        <span>Ford</span>
                        <p class="d-flex mb-0 d-block"><a href="#" class="btn btn-black btn-outline-black mr-1">Book
                            now</a> <a href="#" class="btn btn-black btn-outline-black ml-1">Details</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="car-wrap ftco-animate">
                    <div class="img d-flex align-items-end" style="background-image: url(images/car-3.jpg);">
                        <div class="price-wrap d-flex">
                            <span class="rate">$25</span>
                            <p class="from-day">
                                <span>From</span>
                                <span>/Day</span>
                            </p>
                        </div>
                    </div>
                    <div class="text p-4 text-center">
                        <h2 class="mb-0"><a href="#">Mercedes Grand Sedan</a></h2>
                        <span>Cheverolet</span>
                        <p class="d-flex mb-0 d-block"><a href="#" class="btn btn-black btn-outline-black mr-1">Book
                            now</a> <a href="#" class="btn btn-black btn-outline-black ml-1">Details</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="car-wrap ftco-animate">
                    <div class="img d-flex align-items-end" style="background-image: url(images/car-4.jpg);">
                        <div class="price-wrap d-flex">
                            <span class="rate">$25</span>
                            <p class="from-day">
                                <span>From</span>
                                <span>/Day</span>
                            </p>
                        </div>
                    </div>
                    <div class="text p-4 text-center">
                        <h2 class="mb-0"><a href="#">Mercedes Grand Sedan</a></h2>
                        <span>Mercedes</span>
                        <p class="d-flex mb-0 d-block"><a href="#" class="btn btn-black btn-outline-black mr-1">Book
                            now</a> <a href="#" class="btn btn-black btn-outline-black ml-1">Details</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="car-wrap ftco-animate">
                    <div class="img d-flex align-items-end" style="background-image: url(images/car-5.jpg);">
                        <div class="price-wrap d-flex">
                            <span class="rate">$25</span>
                            <p class="from-day">
                                <span>From</span>
                                <span>/Day</span>
                            </p>
                        </div>
                    </div>
                    <div class="text p-4 text-center">
                        <h2 class="mb-0"><a href="#">Mercedes Grand Sedan</a></h2>
                        <span>Audi</span>
                        <p class="d-flex mb-0 d-block"><a href="#" class="btn btn-black btn-outline-black mr-1">Book
                            now</a> <a href="#" class="btn btn-black btn-outline-black ml-1">Details</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="car-wrap ftco-animate">
                    <div class="img d-flex align-items-end" style="background-image: url(images/car-6.jpg);">
                        <div class="price-wrap d-flex">
                            <span class="rate">$25</span>
                            <p class="from-day">
                                <span>From</span>
                                <span>/Day</span>
                            </p>
                        </div>
                    </div>
                    <div class="text p-4 text-center">
                        <h2 class="mb-0"><a href="#">Mercedes Grand Sedan</a></h2>
                        <span>Ford</span>
                        <p class="d-flex mb-0 d-block"><a href="#" class="btn btn-black btn-outline-black mr-1">Book
                            now</a> <a href="#" class="btn btn-black btn-outline-black ml-1">Details</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="car-wrap ftco-animate">
                    <div class="img d-flex align-items-end" style="background-image: url(images/car-7.jpg);">
                        <div class="price-wrap d-flex">
                            <span class="rate">$25</span>
                            <p class="from-day">
                                <span>From</span>
                                <span>/Day</span>
                            </p>
                        </div>
                    </div>
                    <div class="text p-4 text-center">
                        <h2 class="mb-0"><a href="#">Mercedes Grand Sedan</a></h2>
                        <span>Cheverolet</span>
                        <p class="d-flex mb-0 d-block"><a href="#" class="btn btn-black btn-outline-black mr-1">Book
                            now</a> <a href="#" class="btn btn-black btn-outline-black ml-1">Details</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="car-wrap ftco-animate">
                    <div class="img d-flex align-items-end" style="background-image: url(images/car-8.jpg);">
                        <div class="price-wrap d-flex">
                            <span class="rate">$25</span>
                            <p class="from-day">
                                <span>From</span>
                                <span>/Day</span>
                            </p>
                        </div>
                    </div>
                    <div class="text p-4 text-center">
                        <h2 class="mb-0"><a href="#">Mercedes Grand Sedan</a></h2>
                        <span>Mercedes</span>
                        <p class="d-flex mb-0 d-block"><a href="#" class="btn btn-black btn-outline-black mr-1">Book
                            now</a> <a href="#" class="btn btn-black btn-outline-black ml-1">Details</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block pageSpecificScript%}

{% endblock %}
