{% extends 'rental_exchange/admin/base.html' %}
{% load static %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Vehicle Owner Accounts</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'admin-home' %}">Home</a></li>
                        <li class="breadcrumb-item active">Vehicle Owner Accounts</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <div id="table_menu"></div>
                    </div>
                    <div class="col">

                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead class="bg-dark">
                    <tr>
                        <th>Account Holder</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Total Income</th>
                        <th>Last Added Amount</th>
                        <th>Last Added Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for voa in vehicle_owner_accounts %}
                    <tr>
                        <td>{{ voa.account_holder.first_name }} {{ voa.account_holder.last_name }}</td>
                        <td>{{ voa.account_holder.email }}</td>
                        <td>{{ voa.account_holder.phone }}</td>
                        <td>{{ voa.total_income }}</td>
                        <td>{{ voa.last_added_amount }}</td>
                        <td>{{ voa.updated_at }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot class="bg-dark">
                    <tr>
                        <th>Account Holder</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Total Income</th>
                        <th>Last Added Amount</th>
                        <th>Last Added Date</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock %}

{% block pageSpecificScript%}
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true, "lengthChange": true, "autoWidth": false,
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#table_menu');
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>
{% endblock %}